{% load static%} {% block body%} {% include "navigation.html" %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employe Login</title>
    {% comment %}
    <link rel="stylesheet" href="home.css" />
    {% endcomment %} <link rel="stylesheet" href={% static "cres.css"%} />
    <link
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      rel="stylesheet"
    />
  </head>
  <style>
    all {
      float: left;
    }
  </style>

  <body style="background-image:url('{%static "media/home.png"%}');background-attachment:scroll;background-size:cover;">
    <h1>Skills Development</h1>
    <hr style="border-color: cadetblue" />
    <section id="skill-development">
      <div class="course" style="background-color: cornsilk">
        <h3>Machine Learning</h3>
        <p>Platform: Coursera</p>
        <p>Duration: 12 weeks</p>
        <p>
          Description: Learn the fundamentals Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Culpa beatae illo fuga, ex voluptates
          mollitia harum earum aliquam a odio ipsam repellat animi consequatur
          alias maxime perspiciatis odit nobis! Quas?Learn the fundamentals
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa beatae
          illo fuga, ex voluptates mollitia harum earum aliquam a odio ipsam
          repellat animi consequatur alias maxime perspiciatis odit nobis! Quas?
        </p>
        <a
          href="https://www.udemy.com/course/machinelearning/?matchtype=e&msclkid=1ecad0ad69a51f6f8d44b5a6316bcbe3&utm_campaign=BG-LongTail_la.EN_cc.INDIA&utm_content=deal4584&utm_medium=udemyads&utm_source=bing&utm_term=_._ag_1214960761643591_._ad__._kw_Machine+Learning+tutorial_._de_c_._dm__._pl__._ti_kwd-75935386651474%3Aloc-90_._li_90_._pd__._"
          target="_blank"
          >Enroll Now</a
        >
      </div>
      <div class="course" style="background-color: cornsilk">
        <h3>Deep Learning</h3>
        <p>Platform:Coursera</p>
        <p>Duration: 12 weeks</p>
        <p>
          Description: Deep dive into ABC concepts.Learn the fundamentals Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Culpa beatae illo
          fuga, ex voluptates mollitia harum earum aliquam a odio ipsam repellat
          animi consequatur alias maxime perspiciatis odit nobis! Quas?Learn the
          fundamentals Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Culpa beatae illo fuga, ex voluptates mollitia harum earum aliquam a
          odio ipsam repellat animi consequatur alias maxime perspiciatis odit
          nobis! Quas?
        </p>
        <a
          href="https://www.udemy.com/course/data-science-and-machine-learning-with-python-hands-on/?matchtype=e&msclkid=66dd861ad3611a8ce4b8e3118b952117&utm_campaign=BG-LongTail_la.EN_cc.INDIA&utm_content=deal4584&utm_medium=udemyads&utm_source=bing&utm_term=_._ag_1212761738272741_._ad__._kw_Deep+Learning+tutorial_._de_c_._dm__._pl__._ti_kwd-75797947108270%3Aloc-90_._li_90_._pd__._"
          target="_blank"
          >Enroll Now</a
        >
      </div>
      <!-- Add more courses as needed -->
      <div class="course" style="background-color: cornsilk">
        <h3>Web Technology</h3>
        <p>Platform: edX</p>
        <p>Duration: 6 weeks</p>
        <p>Description: Deep dive into ABC concepts...</p>
        <a
          href="https://www.udemy.com/course/data-science-and-machine-learning-with-python-hands-on/?matchtype=e&msclkid=66dd861ad3611a8ce4b8e3118b952117&utm_campaign=BG-LongTail_la.EN_cc.INDIA&utm_content=deal4584&utm_medium=udemyads&utm_source=bing&utm_term=_._ag_1212761738272741_._ad__._kw_Deep+Learning+tutorial_._de_c_._dm__._pl__._ti_kwd-75797947108270%3Aloc-90_._li_90_._pd__._"
          target="_blank"
          >Enroll Now</a
        >
      </div>
      <div class="course" style="background-color: cornsilk">
        <h3>Javascript</h3>
        <p>Platform: edX</p>
        <p>Duration: 6 weeks</p>
        <p>Description: Deep dive into ABC concepts...</p>
        <a
          href="https://www.udemy.com/course/data-science-and-machine-learning-with-python-hands-on/?matchtype=e&msclkid=66dd861ad3611a8ce4b8e3118b952117&utm_campaign=BG-LongTail_la.EN_cc.INDIA&utm_content=deal4584&utm_medium=udemyads&utm_source=bing&utm_term=_._ag_1212761738272741_._ad__._kw_Deep+Learning+tutorial_._de_c_._dm__._pl__._ti_kwd-75797947108270%3Aloc-90_._li_90_._pd__._"
          target="_blank"
          >Enroll Now</a
        >
      </div>
    </section>
    <h1>Blog Articles</h1>
    <hr style="border-color: cadetblue" />
    <article id="article1">
      <h2>Resume Tips</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nulla
        libero animi doloribus aut eligendi. Ullam repellat eum velit ducimus
        vel, pariatur cumque eligendi consequuntur molestiae voluptates impedit
        architecto rem! Building a strong professional network and using online
        platforms...Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Inventore nulla libero animi doloribus aut eligendi. Ullam repellat eum
        velit ducimus vel, pariatur cumque eligendi consequuntur molestiae
        voluptates impedit architecto rem! Building a strong professional
        network and using online platforms...Effective tips for crafting a
        compelling resume...
      </p>
    </article>
    <article id="article2">
      <h2>Interview Preparation</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nulla
        libero animi doloribus aut eligendi. Ullam repellat eum velit ducimus
        vel, pariatur cumque eligendi consequuntur molestiae voluptates impedit
        architecto rem! Building a strong professional network and using online
        platforms...Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Voluptatibus modi perferendis voluptas! Aliquam molestiae, nemo
        doloremque mollitia ipsam dicta veniam dolores ducimus rem esse sequi
        officiis quis non minima nesciunt!Preparing for interviews and answering
        common questions...
      </p>
    </article>
    <article id="article3">
      <h2>Networking Strategies</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nulla
        libero animi doloribus aut eligendi. Ullam repellat eum velit ducimus
        vel, pariatur cumque eligendi consequuntur molestiae voluptates impedit
        architecto rem! Building a strong professional network and using online
        platforms...Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Inventore nulla libero animi doloribus aut eligendi. Ullam repellat eum
        velit ducimus vel, pariatur cumque eligendi consequuntur molestiae
        voluptates impedit architecto rem! Building a strong professional
        network and using online platforms...
      </p>
    </article>
{% comment %} <div class="empty" style="float: left">&nbsp;&nbsp;</div> {% endcomment %}
    <h1>Career Advice</h1>
    <hr style="border-color: cadetblue" />
    

      {% comment %} <div class="empty" style="float: left">&nbsp;&nbsp;</div> {% endcomment %}
     
    {% comment %} <div class="empty" style="float: left">&nbsp;&nbsp;</div> {% endcomment %}

    
    <br />
    <br />
    <div class="all">
      <div class="div11" style="float: left">
        {% comment %} <div class="empty" style="float: left">&nbsp;&nbsp;</div> {% endcomment %}
        &nbsp;&nbsp;<img src="{% static 'media/Job.jpg'%}" width="300px" height="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus voluptas unde aut nihil obcaecati repudiandae iure
          inventore dolorem ipsum eum, illo distinctio blanditiis pariatur
          tempora quasi eius tenetur repellat odio? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Necessitatibus voluptas unde aut nihil
          obcaecati repudiandae iure inventore dolorem ipsum eum, illo
          distinctio blanditiis pariatur tempora quasi eius tenetur repellat
          odio.
        </p>
      </div>
    <div class="div12" >
      &nbsp;&nbsp;<img src="{% static 'media/p1.png'%}" width="300px" height="200px"  />
      <p>
        A common misconception is that these gatherings are prone to
        gossip-mongering and meaningless banter. But the reality is that social
        events are a perfect networking opportunity; you might run into someone
        who could offer you great insight into various career paths. Especially
        when it comes to your professional life, it is pivotal for you to engage
        with your colleagues and industry representatives.A common misconception
        is that these gatherings .
      </p>
    </div>
    <div class="div13" style="float: left">
      &nbsp;&nbsp;<img src="{% static 'media/p2.png'%}" width="300px" height="200px"  />
      <p>
        A common misconception is that these gatherings are prone to
        gossip-mongering and meaningless banter. But the reality is that
        social events are a perfect networking opportunity; you might run into
        someone who could offer you great insight into various career paths.
        Especially when it comes to your professional life, it is pivotal for
        you to engage with your colleagues and industry representatives.A
        common misconception is that these gatherings .
      </p>
    </div>
  </div>
  </body>
</html>

{% endblock %}
